<form method="post" action="{{ path('app_barang_masuk_delete', {'id_masuk': barang_masuk.id_masuk}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ barang_masuk.id_masuk) }}">
    <button class="btn">Delete</button>
</form>
